.dropDown{
    position: absolute;
    border:none;
    padding: 0 0 0 16px;
    left:264px;
    top:5px;
    height: 40px;
    width:138.93px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background:  url('../../Assets/Forward.svg') no-repeat;
    background-position: right 5px top 50%;
    outline: 0;
    box-shadow: none;
}
